#!/usr/bin/make -f

%:
	dh $@

# Pure-Python payload copied by our Makefile; skip pybuild autodetection.
override_dh_auto_configure:

override_dh_auto_build:

override_dh_auto_test:

override_dh_auto_clean:

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/scrcpy-tray PREFIX=/usr
